<div class="bg">
    <div class="img-bg">
        <div class="actor-box">
            <div class="d-flex justify-content-around" style="width: 1000px;">
                <div class="actor als">
                </div>
                <div class="actor ci" (click)="routerClick('ci')">
                </div>
                <div class="actor lk">
                </div>
            </div>
            <div class="d-flex justify-content-around" style="width: 1000px;">
                <div class="actor lll">
                </div>
                <div class="actor rg">
                </div>
                <div class="actor ys">
                </div>
            </div>
        </div>
    </div>
</div>
