<div class="bg">
    <div class="img-bg">
        <div class="actor-box">
            <div class="d-flex justify-content-around" style="width: 1000px;">
                <div class="actor als" (click)="routerClick(Actor.als)">
                </div>
                <div class="actor ci" (click)="routerClick(Actor.ci)">
                </div>
                <div class="actor lk" (click)="routerClick(Actor.lk)">
                </div>
            </div>
            <div class="d-flex justify-content-around" style="width: 1000px;">
                <div class="actor lll" (click)="routerClick(Actor.lcl)">
                </div>
                <div class="actor rg" (click)="routerClick(Actor.rg)">
                </div>
                <div class="actor ys" (click)="routerClick(Actor.ys)">
                </div>
            </div>
        </div>
    </div>
</div>
