<div class="bg">
  <div class="img-bg">
    <section>
      <div class="title">
        <div class="">哈利波特</div>
        <div class="">邂逅覺醒</div>
      </div>
      <!-- <div class="sub-title">
                赫夫帕夫獾院男子
            </div> -->
      <div class="menu backdrop-blur">
        <div class="menu-item" (click)="routerClick('new')">新的邂逅</div>
        <div class="menu-item">讀取邂逅</div>
        <div class="menu-item">設定</div>
        <div class="menu-item">CG回憶</div>
        <div class="menu-item">離開</div>
        <div class="menu-item"(click)="openCredit()">製作團隊</div>
      </div>
    </section>
  </div>
</div>
